.habit-tracker > form,
.todo-tracker > form {
  height: 3rem;
  width: 26rem;
  display: flex;
  border: 1px solid red;
}

.habit-tracker > form input,
.todo-tracker > form input {
  flex: 1;
}

.habit-tracker > form > button,
.todo-tracker > form > button {
  width: 4rem;
  padding: 0.5rem;
  border: 1px solid blue;
}
