.habit-list ul {
  list-style: none;
  padding: 0px;
}

.habit-list li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6rem;
  width: 26rem;
  border: 1px solid red;
}

.habit-item-name-container {
  align-self: flex-start;
  flex: 1;
  font-size: 1rem;
}

.habit-item-name {
  text-transform: uppercase;
}

.habit-item-description {
  font-size: 0.75rem;
}

.habit-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.habit-button,
.habit-options-button {
  width: 4rem;
  height: 6rem;
  border: 1px solid blue;
}

.habit-list button {
  border: none;
  padding: 0.5rem;
  background: none;
  height: 2rem;
  cursor: pointer;
}

button.habit-options-button {
  height: 6rem;
}

.habit-list button:hover {
  background: lightgrey;
}

.habit-options {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
}

.habit-options > button {
  width: 4rem;
}

/* Checkbox */
.habit-item input {
  height: 3rem;
  width: 3rem;
  margin: 2rem 1rem;
  appearance: none;
  border: 1px solid #34495e;
  outline: none;
  border-radius: 4px;
  transition-duration: 0.3s;
  background-color: grey;
  cursor: pointer;
}

.habit-item input:checked {
  display: block;
  text-align: center;
  background-color: green;
}

.habit-item input:active {
  border: 2px solid #34495e;
}
